.center{
	text-align: center;
	margin: 0 auto;
}
.inline{
	display: inline;
}
.btnimg{
	color: white;
	background-color: #51A351;
	border-radius: 4px;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 4px 12px;
}
@media print{
	#printHide{
		display: none;
	}
}